{% load static %}
<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Django Wordle</title>
    <link rel="stylesheet" href="{% static 'game/style.css' %}">
</head>
<body>

    <div class="game-container">
        <h1>WORDLE</h1>
        
        <div class="grid" id="grid"></div>

        <div class="input-area">
            <input type="text" id="guessInput" maxlength="5" autocomplete="off" placeholder="Napiš slovo...">
            <button id="submitBtn">HÁDAT</button>
        </div>

        <div id="keyboard" class="keyboard"></div>
    </div>

    <script>
        const csrftoken = "{{ csrf_token }}";
        const checkGuessUrl = "{% url 'check_guess' %}";
    </script>
    
    <script src="{% static 'game/script.js' %}"></script>
</body>
</html>